<div class="DivLink">
  
  <p align="center">
<%= form_tag '/top/login', method: :post do %>
<%= label_tag :uid, 'ユーザーID' %>
<br>
<%= text_field_tag :uid %><br>
<%= label_tag :password, 'パスワード' %>
<br>
<%= password_field_tag :password %><br>
<%= submit_tag 'ログイン' %>
<% end %>
</div>

<div class="DivLink2">
    ユーザ一覧
<a class= "Link" href="/users"></a>
</div>

<style>

body{
    background-color:#ffa07a
}
.DivLink{
    font-size:25px;
    position:relative;
    text-align:center;
    left: 6vw;
	border-radius: 50%;
    background-color:#ffffff;
    display: inline-block;
      top: 150px;
    width : 40vw ; 
	height: 40vw;
}

.DivLink2{
    font-size:50px;
    position:relative;
    text-align:center;
    left: 13vw;
    top: 0vw;
    width : 40vw ;
    height:40vw;
    border-radius: 50%;
    background-color:#ffffff;
     display: inline-block;
}

.DivLink .Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.DivLink2 .Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>