<%= form_for @cook , url: {action: :update} do |f| %>
 <p><%= f.label :title, 'ケーキ名' %></p>
 <p><%= f.text_field :title %></p>
 <p><%= f.label :post, '作り方' %></p>
 <p><%= f.text_area :post %></p>
 <p><%= f.label :file, '作成画像' %></p>
 <p><%= f.file_field :file %></p>
 <p><%= f.submit '投稿' %></p>
 <% end %>