<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
<% @cooks.each do |cook| %>
    <%= cook.title %>
    <%= cook.post %>
    <%= image_tag "/get_image/#{cook.id}" %>
    <p>
    <%= link_to "å‰Šé™¤", "/cooks/#{cook.id}" , method: :delete %>
    <% if cook.likes.count > 0 %>
        <%= link_to 'ðŸ’–', like_path(cook), method: :delete %>
    <% else %>
        <%= link_to 'â¤', likes_path(cook_id: cook.id), method: :post %>
    <% end %>
    </p>
    <% end %>
<%= link_to 'æŠ•ç¨¿', new_cook_path %>
