<h3>ケーキの作り方一覧</h3>
<% @cooks.each do |cook| %>
    <p>
        <%= link_to cook.title, "/cooks/#{cook.id}" %>
    </p>
    <p>
        <%= cook.impressions_count %>
    </p>
    <p>
    <%= link_to "削除", "/cooks/#{cook.id}" , method: :delete %>
    <%= link_to "編集", "/cooks/#{cook.id}/edit" %>
    <% if cook.likes.count > 0 %>
        <%= link_to '💖', like_path(cook), method: :delete %>
    <% else %>
        <%= link_to '❤', likes_path(cook_id: cook.id), method: :post %>
    <% end %>
    </p>
<% end %>
<br>
<%= link_to 'ランキング' , "ranks/index" %>
<%= link_to '投稿', new_cook_path %>
