<%= form_for @cook , url: {action: :create} do |f| %>
 <p><%= f.label :title, 'ケーキ名' %>
     <%= f.text_field :title %></p>
<p><%= label :post, '作り方' %>
     <%= f.text_area :post, size: "20*10" %></p>
 <p><%= f.label :file, '作成画像' %>
     <%= f.file_field :file %></p>
 <p><%= f.submit '投稿' %></p>
 <% end %>