<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
<%= form_for @cook , url: {action: :create} do |f| %>
<%= f.label :title, 'ケーキ名' %>
<p><%= f.text_field :title %></p>
<%= f.label :post, '作り方' %>
<p><%= f.text_area :post, :size=>"20*10" %></p>
<%= f.label :file, '作成画像' %>
<p><%= f.file_field :file %></p>
<%= f.label :phrase, 'キャッチフレーズ' %>
<p><%= f.text_area :phrase, :size=>"10*20" %></p>
<%= f.label :arrange, '工夫したポイント' %>
<p><%= f.text_area :arrange, :size=>"20*20" %></p>
<p><%= f.submit '投稿' %></p>
<br>
 <% end %>