<h1>Тцюу┤бухљТъю</h1>
<% @results.each do |cook| %>
<p>
        <%= link_to cook.title, "/cooks/#{cook.id}" %>
    </p>
    <p>
        <%= cook.impressions_count %>
    </p>
    <p>
    <%= link_to "тЅіжЎц", "/cooks/#{cook.id}" , method: :delete %>
    <%= link_to "уиежЏє", "/cooks/#{cook.id}/edit" %>
    <% if cook.likes.count > 0 %>
        <%= link_to '­Ъњќ', like_path(cook), method: :delete %>
    <% else %>
        <%= link_to 'РЮц', likes_path(cook_id: cook.id), method: :post %>
    <% end %>
    </p>
<% end %>
<%= link_to 'Top', cooks_path %>