<% if flash[:info] %>
    <%= flash[:info] %>
<% end %>
<p><strong>ケーキの作り方</strong></p>
<p>
    <strong><%= @cook.title %></strong>
</p>
<p>
    <strong><%= @cook.post %></strong>
</p>
<p>
    <strong><%= @cook.phrase %></strong>
</p>
<p>
    <strong><%= @cook.arrange %></strong>

</p>

<p class="resizeimage">
    <%= image_tag "/get_image/#{@cook.id}" %>

</p>

<% @cook.reviews.each do |e| %>
<p>投稿者:<%= e.user.uid %></p>
<p>コメント:<%= e.comment %></p>
    <% if e.user_id == current_user.id %>
    <%= link_to '削除', review_path(e), method: :delete %>
    <% end %>
<% end %>
<%= link_to 'コメントする', new_review_path(cook_id: @cook.id) %>

<%= link_to '戻る', :back %> 

<style>
.resizeimage img { width: 50%; }
</style>