
<% @users.each do |user| %>
    <p><%= user.uid %></p>
    <p><%= user.password %></p>
    <p>
    <%= link_to '削除', "/users/#{user.id}", method: :delete %>
    </p>
<% end %>
<%= link_to "戻る", :back %>
<%= link_to "TOPページ", root_path %>
    
   
<style>

body{
    background-color:#ffa07a
}

</style>